<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".OAuthActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".WebKitWebViewActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".WebViewActivity"
            android:exported="false"
            android:theme="@style/AuthgearTheme"
            android:configChanges="orientation|screenSize" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto"/>
        </intent>
    </queries>
</manifest>
