<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oursky.authgear">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".OAuthActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".WebViewActivity"
            android:exported="false"
            android:theme="@style/AuthgearTheme"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".CustomTabActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".OAuthWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".OAuthWebViewFullScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".latte.LatteActivity"
            android:theme="@style/LatteTheme"
            android:exported="false" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto"/>
        </intent>
    </queries>
</manifest>
