<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oursky.authgear">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".OauthActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".WebViewActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AuthgearTheme"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".CustomTabActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".OAuthWebViewActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AuthgearTheme"
            android:configChanges="orientation|screenSize" />
    </application>
</manifest>
